.principal {
  height: 100%;
}
.parallax {
  /* The image used */
  background-image: url("../../img/company/edificio1.png");

  /* Full height */
  height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("../../img/company/cuete.png");

  /* Full height */
  height: 90vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ours {
  height: 300px;
  /* background-color: red; */
  /* font-size: 36px; */
}
