@import "~antd/dist/antd.css";
/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* 
.App-link {
  color: #61dafb;
} */

.site-layout .site-layout-background {
  background: #fff;
}

.logo1 {
  /* background: white; */
  color: white;
}

.AlertClass {
  /* width: 80%; */
  /* background-color: #d5233f; */
  /* color: white; */
  font-weight: bold;
  border-radius: 10px;
}
.AlertClassMormal {
  background-color: #d5233f;
  color: white;
  /* font-weight: bold; */
  border-radius: 10px;
}
